.hero-image{
  background-image: url("../Media/Image_9.jpg");
  background-color: #cccccc;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-text{
    text-align: center;
    position: absolute;
    top: 10%;
    right:50%;
    color: #f7ebeb;
}

.hero-text button{
    background-color: #fffafa;
    margin-top:2vh;
    height: 10vh;
    width: 50vh;
    border:none;  
    font-weight: 400; 
    text-decoration: none; 
    color: black;
}
.hero-text :hover{
  text-decoration: none; 
}

.hero-text button:hover{
    background-color:#ED0AD5;
    text-decoration: none;     
}

.middle-section{
    width: 100%;
    height: 60vh;
    display: flex;
}
.middle-section h1{
    color: green;
    margin: 15vh 0vh 0px 25vh;
    font-size: 50px;
    color: #000000;
}
.middle-section img{
    height: 50vh;
    width: 80vh;
    margin: 10vh 30vh 0px 10vh;   
}

.Course-head h2{
    display: inline-block;
    padding: 15vh 0vh 10px 0;
    margin-left: 50vh;
    position: relative;
    font-size: 30px;
    color: #000000;
    font-weight: 700;
    text-shadow: 3px 3px 3px #E0E0E0;
  }
  
  .Course-head h2:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color:#ED0AD5;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .Course-head h2:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


.row{
  padding: 10vh;
 
}
.card-body h3{
 text-align: center;
 font-size: 25px;
}
.card-text{
  padding-bottom: 5px;
  font-size: 15px;
  border-bottom: 2px solid black;
}
.V-button{
  background-color: #000000;
  color: #E0E0E0;  
  border: none;
  border-radius: 5px;
  margin-left: 45%;
  margin-bottom: 10vh;
  height: 10vh;
  width: 30vh;
   
}
.V-button a{
  text-decoration: none;
  color: #E0E0E0;
  font-size: 25px;
}
.V-button:hover{
  background-color: #ED0AD5;
  text-decoration: none;   
  box-shadow:5px 5px  #000000;
  
}
.V-button a:hover{
  text-decoration: none;
  color: #FFFF;
  font-weight: 700;
  font-size: 25px;
}

.Bottom-section{
  background-color:#44e2da;
  height: 60vh;
  /* opacity: 0.8; */
}

.Bottom-section-con h2{
  font-family:fantasy;
  color: #f5430c;
  padding: 30px  0 0 40px;
  font-size: 40px;
}
.Bottom-section-con p{
  font-size: 18px;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight:600;
  color: #801305;
  margin: 0px 500px 10px 40px;
  line-height: 20px;
  padding-bottom: 25px;
  
}
.slider{
  padding:  0 5vh 0 5vh;

}
.slider img{
  /* padding: 20px; */
  height: 20vh;
  width: 20vh;

}

